/*
    General Default Site wide styles
*/

/* 
    Fonts

    Heading fonts first
*/

@font-face {
    font-family: 'arvobold';
    src: url('arvoKit/arvo-bold-webfont.woff2') format('woff2'), url('arvo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvobold_italic';
    src: url('arvoKit/arvo-bolditalic-webfont.woff2') format('woff2'), url('arvo-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvoitalic';
    src: url('arvoKit/arvo-italic-webfont.woff2') format('woff2'), url('arvo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvoregular';
    src: url('arvoKit/arvo-regular-webfont.woff2') format('woff2'), url('arvo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
    text fonts next
*/

@font-face {
    font-family: 'open_sansbold';
    src: url('openSansKit/opensans-bold-webfont.woff2') format('woff2'), url('opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('openSansKit/opensans-bolditalic-webfont.woff2') format('woff2'), url('opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('openSansKit/opensans-extrabold-webfont.woff2') format('woff2'), url('opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('openSansKit/opensans-extrabolditalic-webfont.woff2') format('woff2'), url('opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('openSansKit/opensans-italic-webfont.woff2') format('woff2'), url('opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('openSansKit/opensans-light-webfont.woff2') format('woff2'), url('opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('openSansKit/opensans-lightitalic-webfont.woff2') format('woff2'), url('opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('openSansKit/opensans-regular-webfont.woff2') format('woff2'), url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('openSansKit/opensans-semibold-webfont.woff2') format('woff2'), url('opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('openSansKit/opensans-semibolditalic-webfont.woff2') format('woff2'), url('opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
    start of styles
*/

html {
    font-size: 10px;
    color: black;
    min-height: 100%;
    background-color: #FBFAF5;
    font-family: "open_sansregular", sans-serif;
}

h1 {
    font-size: 3.2rem;
    font-family: "arvoregular", sans-serif;
}

h2 {
    font-size: 2.4rem;
    font-family: "arvoregular", sans-serif;
}

h3 {
    font-size: 1.8rem;
    font-family: "arvoregular", sans-serif;
}

h4 {
    font-size: 1.6rem;
    font-family: "arvoregular", sans-serif;
}

h5 {
    font-size: 1.3rem;
    font-family: "arvoregular", sans-serif;
}

h6 {
    font-size: 1.07rem;
    font-family: "arvoregular", sans-serif;
}

p{
    font-size: 1.6rem;
}

/*
    Top of Page Heading for Every Page
*/

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Banner {
    font-size: 5rem;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

/*
    Social Navigation Buttons
*/

.SocialNav {
    position: absolute;
    top: 0px;
    right: 0px;
    visibility: hidden;
}

.SocialNav ul{
    float: right;
    list-style: none;
    display: flex;
    padding: 5px;
    align-items: center;
}

.SocialNav img{
    margin: 5px;
}

/* 
    site navigation buttons
*/

.NavContainer {
    padding-top: 5px;
    background-color: black;
    color: white;
}

nav {
    border: 5px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}


nav a {
    text-decoration: none;
    font-size: 2.3rem;
    color: white;
    display: inline-block;
}

nav a:visited {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 2.3rem;
}

nav a:hover {
    color: yellow;
}

/*
    Main styles
*/

main {
    margin: 0px auto; 
}

main h1{
    margin: 20px auto;
}

.PageImageContainer {
    /*
    display: flex;
    align-content: center;
    justify-content: space-around;
    */
    justify-items: center;
    margin: 20px 50px;
    max-width: 75%; /* added*/
}

.PageImage {
    width: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.PageImageText {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: darkslategray;
    text-align: center;
}

.ImageSideBySideContainer {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 20px 0px;
}

.PageSideBySide {
    width: auto;
    max-width: 50%;
    margin-left: 5px;
    margin-right: 5px;
    flex: 1;
}

.PageText {
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px; /* added*/
    max-width: 75%; /* added*/
}

article a {
    color: blue;
}

article a:visited {
    color: blue;
}

article a:hover{
    color: purple;
}

/*
    Aside menu styles
*/

.AsideContainer {
    display: flex;
    /*align-content: center; this set the aside to stick in the middle of the page BAD*/
    justify-content: space-around;
}

aside {
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: 3px;
    margin: 20px;
    padding: 5px;
    width: 250px;
}

aside h2 {
    text-align: center;
    margin: 0px;
    padding: 5px;
}

/*
    Footer on every page
*/

footer {
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 20px;
}

/*
    This is setting for when on desktop. Mobile styles are default
*/

@media screen and (min-width: 830px) {

    /*
        Top nav menu and social menu
    */
    .NavContainer {
        position: sticky;
        top: 0px;
        z-index: 100;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav a {
        padding: 10px;
    }

    .current {
        border: 1px solid white;
    }

    .SocialNav {
        visibility: visible;
    }

    /*
        Page content including the aside menu
    */

    main {
        display: flex;
        padding: 0 50px;
    }

    /*
        The article of the page
    */

    article {
        flex: 3;

    }

    


    .PageImage {
        width: auto;
    }
            

    /*
        the aside menu
    */

    .AsideContainer{
        display: block;
    }

    aside {
        flex: 1;
        height: max-content;
        position: sticky;
        top: 81px;
    }

    aside h2 {
        text-align: left;
    }
}