aside ul {
    max-width: 100%;
    margin-top: 5px;
    list-style: square;
}

aside li {
    margin: 10px;
    font-size: 1.6rem;
}

aside a {
    color: blue;
}

aside a:visited {
    color: blue;
}

aside a:hover{
    color: purple;
}

pre {
    min-width: 0px;
    max-width: 100%;
    overflow: scroll;
    padding: 10px;
    border: 2px solid black;
    border-radius: 2px;
}

code {
    font-size: 1.6rem;
    min-width: 0px;
}

.addition mark.highlight {
    background-color: yellow;
    color: black;
}

.addition mark.highlight * {
    background-color: yellow;
    color: black;
}


q {
    font-weight: bold;
    color: purple;
}

.PageText code {
    font-weight: bold;
    color: purple;
}



article {
    min-width: 0px;
}

main {
    min-width: 0px;
}

